@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  @page {
    size: A4;
    margin: 0;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:p-0 {
    padding: 0 !important;
  }

  .print\:bg-white {
    background-color: white !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }

  .print\:max-w-full {
    max-width: 100% !important;
  }

  .print\:max-h-full {
    max-height: 100% !important;
  }

  .print\:rounded-none {
    border-radius: 0 !important;
  }
}
